<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hermes">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hermes_user"
        android:label="Hermes user"
        android:roundIcon="@mipmap/ic_hermes_user_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StopActivity" />
        <activity android:name=".MealActivity" />
        <activity android:name=".AmenitiesActivity" />
        <activity android:name=".PillsActivity" />
        <activity android:name=".FoodsActivity" />
        <activity android:name=".BeveragesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
    </activity>
    </application>

</manifest>